<footer class="main-footer d-none d-print-none">
    <div class="float-right d-none d-sm-block">
        <strong>Version:</strong> Awesome!
    </div>
    Copyright &copy; 2020 <a href="#">Company</a>. All rights reserved.
</footer>
