<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block meta %}
        <meta name="description" content="{% block description %}Description!{% endblock %}" />

        {#    <meta name="description" content="{% block description %}{{ 'head_meta_description'|trans({'%app_name%': app_name})|seo_description|raw }}{% endblock %}" />#}
    {% endblock %}

    {% block stylesheets %}
{#        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.min.css">#}
    {% endblock %}

    {% block javascripts %}
    {% endblock %}
</head>
<body>
{% block body_content %}
{% endblock %}

{% block footer %}
    <footer class="text-center text-md-start fixed-bottom">
{#        {% block footer_copyright %}#}
{#        <span class="text-center p-3">#}
{#            © 2023#}
{#            <a class="text-dark">{{ _self }}</a>#}
{#        </span>#}
{#        {% endblock %}#}
{#        wrapperClass: 'container p-4',#}

        {% block footer_menu %}
            {# dispatch a menu event to populate the footer menu.  Overwrite this block to customize with options or a custom menu event #}
            {{ component('menu', {
                caller: _self,
                type: FOOTER_MENU,
                options: {
                }
            }) }}
        {% endblock %}

    </footer>
{% endblock %}
</body>
</html>
