<div class="card card-sm">
    <div class="card-body">
        <div class="row align-items-center">
            <div class="col-auto">
                {{ ux_icon ? ux_icon(ux_icon) }}
            </div>
            <div class="col">
                <div class="font-weight-medium">
                    {{ message|default('') }}
                </div>
                <div class="text-secondary">
                    {{ secondary|default('') }}
                </div>
            </div>
        </div>
    </div>
</div>
