<span class="bg-{{ bgColor|default('green') }} text-{{ textColor|default('white') }} avatar"><!-- Download SVG icon from http://tabler-icons.io/i/brand-twitter -->

<i class="{{ icon|default('fas fa-play') }}"></i>
    {{ icon }}
</span>

{#public function createIcon(string $name, bool $withIconClass = false, string $default = null): string#}
{#{#}
{#return '<i class="' . $this->icon($name, $withIconClass, $default) . '"></i>';#}
{#}#}

{#public function icon(string $name, bool $withIconClass = false, string $default = null): string#}
{#{#}
{#return ($withIconClass ? 'icon ' : '') . ($this->icons[str_replace('-', '_', $name)] ?? ($default ?? $name));#}
{#}#}
