{{ _self }}
<div class="{{ ''|tabler_container }}">
    {# Page title #}
    <div id="{% block page_header_id %}{% endblock %}" class="page-header d-print-none">
        <div class="row align-items-center">
            <div class="col">
                {% block page_intro %}
                    {% block breadcrumb %}
                        <div class="page-pretitle">
                            {% block page_pretitle %}Overview{% endblock %}
                        </div>
                    {% endblock %}
                    <h2 class="page-title">
                        {% block page_title %}Dashboard{% endblock %}
                    </h2>
                    {% block page_subtitle %}
                        <div class="text-body-secondary mt-1">
                            1-10 of 100
                        </div>
                    {% endblock %}
                {% endblock %}
            </div>
            <div class="{% block page_actions_class %}col-12 col-md-auto ms-auto d-print-none{% endblock %}">
                {% block page_actions %}
                    <div class="btn-list">
                        <a href="#" class="btn btn-white">
                            New view
                        </a>
                        <a href="#" class="btn btn-primary d-none d-sm-inline-block">
                            Create new report
                        </a>
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
</div>
