<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <div class="text-sm-end d-none d-sm-block">
                    &copy; Survos 2021-2023
                </div>
            </div>
            <div class="col-sm-9">
{#                <div class="text-sm-end d-none d-sm-block">#}
{#                    {{ component('menu', {#}
{#                        caller: _self,#}
{#                        type: 'footer',#}
{#                        options: {#}
{#                            showAppMenu: true#}
{#                        }#}
{#                    }) }}#}
                </div>
            </div>
        </div>
    </div>
</footer>
