<!-- start Work Process -->
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="text-center mb-5">
                    <h3 class="mb-3 fw-semibold">Our Work Process</h3>
                    <p class="text-muted mb-4 ff-secondary">In an ideal world this website wouldn’t exist, a client would
                        acknowledge the importance of having web copy before the Proin vitae ipsum vel ex
                        finibus semper design starts.</p>
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row text-center">
            <div class="col-lg-4">
                <div class="process-card mt-4">
                    <div class="process-arrow-img d-none d-lg-block">
                        <img src="{{ asset('/bundles/survosvelzon/images/landing/process-arrow-img.png') }}" alt="" class="img-fluid">
                    </div>
                    <div class="avatar-sm icon-effect mx-auto mb-4">
                        <div class="avatar-title bg-transparent text-success rounded-circle h1">
                            <i class="ri-quill-pen-line"></i>
                        </div>
                    </div>

                    <h5>Tell us what you need</h5>
                    <p class="text-muted ff-secondary">The profession and the employer and your desire to make your mark.</p>
                </div>
            </div>
            <!-- end col -->
            <div class="col-lg-4">
                <div class="process-card mt-4">
                    <div class="process-arrow-img d-none d-lg-block">
                        <img src="{{ asset('/bundles/survosvelzon/images/landing/process-arrow-img.png') }}" alt="" class="img-fluid">
                    </div>
                    <div class="avatar-sm icon-effect mx-auto mb-4">
                        <div class="avatar-title bg-transparent text-success rounded-circle h1">
                            <i class="ri-user-follow-line"></i>
                        </div>
                    </div>

                    <h5>Get free quotes</h5>
                    <p class="text-muted ff-secondary">The most important aspect of beauty was, therefore, an inherent part.</p>
                </div>
            </div>
            <!-- end col -->
            <div class="col-lg-4">
                <div class="process-card mt-4">
                    <div class="avatar-sm icon-effect mx-auto mb-4">
                        <div class="avatar-title bg-transparent text-success rounded-circle h1">
                            <i class="ri-book-mark-line"></i>
                        </div>
                    </div>

                    <h5>Deliver high quality product</h5>
                    <p class="text-muted ff-secondary">We quickly learn to fear and thus automatically avoid potentially.</p>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- end Work Process -->

