<!-- start review -->
<section class="section bg-primary" id="reviews">
    <div class="bg-overlay bg-overlay-pattern"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="text-center">
                    <div>
                        <i class="ri-double-quotes-l text-success display-3"></i>
                    </div>
                    <h4 class="text-white mb-5"><span class="text-white">19k</span>+ Satisfied clients</h4>

                    <!-- Swiper -->
                    <div class="swiper client-review-swiper rounded" dir="ltr">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="row justify-content-center">
                                    <div class="col-10">
                                        <div class="text-white-50">
                                            <p class="fs-20 ff-secondary mb-4">" I am givng 5 stars. Theme is great and everyone one stuff everything in theme. Future request should not affect current
                                                state of theme. "</p>

                                            <div>
                                                <h5 class="text-white">gregoriusus</h5>
                                                <p>- Skote User</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end slide -->
                            <div class="swiper-slide">
                                <div class="row justify-content-center">
                                    <div class="col-10">
                                        <div class="text-white-50">
                                            <p class="fs-20 ff-secondary mb-4">" Awesome support. Had few issues while setting up because of my device, the support team helped me fix them up in a day.
                                                Everything looks clean and good. Highly recommended! "</p>

                                            <div>
                                                <h5 class="text-white">GeekyGreenOwl</h5>
                                                <p>- Skote User</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end slide -->
                            <div class="swiper-slide">
                                <div class="row justify-content-center">
                                    <div class="col-10">
                                        <div class="text-white-50">
                                            <p class="fs-20 ff-secondary mb-4">" Amazing template, Redux store and components is nicely designed.
                                                It's a great start point for an admin based project. Clean Code and good documentation. Template is
                                                completely in React and absolutely no usage of jQuery "</p>

                                            <div>
                                                <h5 class="text-white">sreeks456</h5>
                                                <p>- Veltrix User</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end slide -->
                        </div>
                        <div class="swiper-button-next bg-white rounded-circle"></div>
                        <div class="swiper-button-prev bg-white rounded-circle"></div>
                        <div class="swiper-pagination position-relative mt-2"></div>
                    </div>
                    <!-- end slider -->
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- end review -->

