<!-- start counter -->
<section class="py-5 position-relative bg-light">
    <div class="container">
        <div class="row text-center gy-4">
            <div class="col-lg-3 col-6">
                <div>
                    <h2 class="mb-2"><span class="counter-value" data-target="100">0</span>+</h2>
                    <div class="text-muted">Projects Completed</div>
                </div>
            </div>
            <!-- end col -->

            <div class="col-lg-3 col-6">
                <div>
                    <h2 class="mb-2"><span class="counter-value" data-target="24">0</span></h2>
                    <div class="text-muted">Win Awards</div>
                </div>
            </div>
            <!-- end col -->

            <div class="col-lg-3 col-6">
                <div>
                    <h2 class="mb-2"><span class="counter-value" data-target="20.3">0</span>k</h2>
                    <div class="text-muted">Satisfied Clients</div>
                </div>
            </div>
            <!-- end col -->
            <div class="col-lg-3 col-6">
                <div>
                    <h2 class="mb-2"><span class="counter-value" data-target="50">0</span></h2>
                    <div class="text-muted">Employees</div>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- end counter -->

