<div class="alert alert-{{ type }} {{ dismissible ? 'alert-dismissible' }}" role="alert">
    {{ message }}
    {% if dismissible %}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    {% endif %}

</div>
