
<div class="divider {{ alignment ? 'text-%s'|format(alignment) }}  {{ color ?'divider-%s'|format(color) }} {{ style ?'divider-%s'|format(style) }}">
    <div class="divider-text"><i>{{ message }}</i></div>
</div>
